.important {
  @include flex();
  margin-top: 94px;

  &__list {
    @include flex($gap: 30px);
  }

  &__title {
    @include text(14px, 1.14, $letter-spacing: 3%, $text-transform: uppercase)
  }

  &__text {
    @include text(14px, 1.71, $color: $grey-color)
  }

  &__item {
    &::before {
      content: "";
      display: inline-block;
      @include size(270px, 120px);
      border-radius: 4px;
      margin-bottom: 30px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #f5f4fa;
    }

    &--antenna {
      &::before {
        background-image: url(../img/antenna.png);
      }
    }

    &--clock {
      &::before {
        background-image: url(../img/clock.png);
      }
    }

    &--diagram {
      &::before {
        background-image: url(../img/diagram.png);
      }
    }

    &--astronaut {
      &::before {
        background-image: url(../img/astronaut.png);
      }
    }
  }
}
