.important {
  display: flex;
  margin-top: 60px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 30px;
    }
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
    margin-bottom: 10px;
  }

  &__text {
    @include text(14px, 1.71, $color: $grey-color);
  }

  &__item {
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px * 1) / 2);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 30px * 3) / 4);
    }
    &::before {
      content: "";
      display: inline-block;
      @include size(100%, 120px);
      border-radius: 4px;
      margin-bottom: 30px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #f5f4fa;
    }

    &--antenna {
      &::before {
        background-image: url(../img/studio/antenna.png);
      }
    }

    &--clock {
      &::before {
        background-image: url(../img/studio/clock.png);
      }
    }

    &--diagram {
      &::before {
        background-image: url(../img/studio/diagram.png);
      }
    }

    &--astronaut {
      &::before {
        background-image: url(../img/studio/astronaut.png);
      }
    }
  }
}
