.regular-customers {
  padding: 60px 0;
  background-color: #fff;

  &__title {
    text-align: center;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    padding: 16px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: calc((100% - 30px * 1) / 2);
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px * 2) / 3);
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 30px * 5) / 6);
    }
    @extend %flex-justify-center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      border-color: $accent-color;

      .regular-customers__icon {
        fill: $accent-color;
      }
    }
  }

  &__icon {
    display: block;
    @include size(106px, 60px);
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
