@mixin text(
  $font-size: null,
  $line-height: null,
  $font-family: null,
  $font-weight: null,
  $color: null,
  $letter-spacing: null,
) {
  $props: (
    font-size: $font-size,
    line-height: $line-height,
    font-family: $font-family,
    font-weight: $font-weight,
    color: $color,
    letter-spacing: $letter-spacing,
  );

  @each $prop, $value in $props {
    @if $value != null {
      #{$prop}: $value;
    }
  }
}

@mixin size($width: null, $height: null) {
  $props: (
    width: $width,
    height: $height,
  );

  @each $prop, $value in $props {
    @if $value != null {
      #{$prop}: $value;
    }
  }
}

@mixin max-size($width: null, $height: null) {
  $props: (
    max-width: $width,
    max-height: $height,
  );

  @each $prop, $value in $props {
    @if $value != null {
      #{$prop}: $value;
    }
  }
}

@mixin min-size($width: null, $height: null) {
  $props: (
    min-width: $width,
    min-height: $height,
  );

  @each $prop, $value in $props {
    @if $value != null {
      #{$prop}: $value;
    }
  }
}
