@mixin text(
  $font-size: null,
  $line-height: null,
  $font-family: null,
  $font-weight: null,
  $color: null,
  $letter-spacing: null,
  $text-align: null,
  $text-transform: null,
  $text-decoration: null,
  $white-space: null
) {
  $props: (
    font-size: $font-size,
    line-height: $line-height,
    font-family: $font-family,
    font-weight: $font-weight,
    color: $color,
    letter-spacing: $letter-spacing,
    text-align: $text-align,
    text-transform: $text-transform,
    text-decoration: $text-decoration,
    white-space: $white-space,
  );

  @each $prop, $value in $props {
    @if $value != null {
      #{$prop}: $value;
    }
  }
}

@mixin size($width: null, $height: null) {
  $props: (
    width: $width,
    height: $height,
  );

  @each $prop, $value in $props {
    @if $value != null {
      #{$prop}: $value;
    }
  }
}

@mixin max-size($width: null, $height: null) {
  $props: (
    max-width: $width,
    max-height: $height,
  );

  @each $prop, $value in $props {
    @if $value != null {
      #{$prop}: $value;
    }
  }
}

@mixin min-size($width: null, $height: null) {
  $props: (
    min-width: $width,
    min-height: $height,
  );

  @each $prop, $value in $props {
    @if $value != null {
      #{$prop}: $value;
    }
  }
}

@mixin setPosition(
  $position: null,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $transform: null
) {
  $props: (
    top: $top,
    right: $right,
    bottom: $bottom,
    left: $left,
    transform: $transform,
  );

  @if $position != null {
    position: $position;
  }

  @if $position != static and $position != null {
    @each $prop, $value in $props {
      @if $value != null {
        #{$prop}: $value;
      }
    }
  }
}

@mixin flex(
  $direction: null,
  $row-gap: null,
  $column-gap: null,
  $gap: null,
  $justify-content: null,
  $align-items: null,
  $wrap: null
) {
  $props: (
    flex-direction: $direction,
    justify-content: $justify-content,
    align-items: $align-items,
    flex-wrap: $wrap,
  );

  display: flex;

  @each $prop, $value in $props {
    @if $value != null {
      #{$prop}: $value;
    }
  }

  @if $gap != null {
    gap: $gap;
  } @else {
    @if $row-gap != null {
      row-gap: $row-gap;
    }
    @if $column-gap != null {
      column-gap: $column-gap;
    }
  }
}
