.footer {
  margin-top: 60px;
  padding: 65px 0;
  background-color: $bg-color;

  @media screen and (min-width: 768px) {
    @include setPosition(relative);
    padding: 60px 0;
  }

  &__content {
    @media screen and (min-width: 1200px) {
      @include flex(row);
    }
  }

  &__logo {
    @include text(
      24px,
      null,
      "Raleway",
      700,
      $text-align: center,
      $color: white
    );

    &-part--web {
      @include text($color: $accent-color);
    }
  }

  &__info {
    @include flex(column, $gap: 20px, $align-items: center);
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      @include setPosition(absolute, 60px, $left: 76px);
    }
  }

  &__address {
    &-list {
      @include flex(column, $gap: 8px, $align-items: center);
      font-style: normal;
    }

    &-text {
      @include text(14px, 1.71, $color: $white-color, $font-weight: 400);
    }

    &-link {
      &--info,
      &--num {
        @include text($color: rgba(255, 255, 255, 0.6), $font-weight: 400);
      }
    }
  }

  &__join {
    @media screen and (min-width: 480px) and (max-width: 1199px) {
      margin-top: 60px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      @include setPosition(absolute, 0, $right: 90px);
    }
    @media screen and (min-width: 1200px) {
      margin-left: 70px;
    }
    &-title {
      @include text(
        14px,
        $font-weight: 700,
        $text-align: center,
        $color: $white-color,
        $text-transform: uppercase
      );
    }

    &-list {
      margin-top: 20px;
      @include flex(row, $gap: 10px, $justify-content: center);
    }

    &-item {
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 12px;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: $accent-color;
      }
    }

    &-link {
      @include flex($align-items: center, $justify-content: center);
    }

    &-icon {
      @include size(20px, 20px);
      fill: white;
    }
  }

  &__subscribe {
    @media screen and (min-width: 480px) and (max-width: 767px) {
      margin-top: 60px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-top: 250px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 93px;
    }

    .subscribe {
      &__form {
        &-row {
          @media screen and (min-width: 1200px) {
            @include flex(row, $align-items: center, $gap: 12px);
          }
        }
        &-title {
          @include text(
            14px,
            $font-weight: 700,
            $color: $white-color,
            $text-transform: uppercase
          );
          @include flex(row);
          justify-self: center;
          margin-bottom: 20px;
        }

        &-input {
          @include size(100%);
          @media screen and (min-width: 768px) and (max-width: 1199px) {
            @include size(450px);
          }

          @media screen and (min-width: 1200px) {
            @include size(358px, 50px);
          }
          padding: 16px;
          background-color: transparent;
          outline: none;
          border: 1px solid rgba(255, 255, 255, 0.3);
          border-radius: 4px;
          color: white;

          @media screen and (min-width: 480px) and (max-width: 1199px) {
            @include flex(row);
            justify-self: center;
          }

          &::placeholder {
            @include text(
              16px,
              1.25,
              $font-weight: 400,
              $color: rgba(255, 255, 255, 0.6)
            );
          }
        }

        &-submit {
          background-color: $accent-color;
          @include text(16px, 1.875, $font-weight: 700, $color: $white-color);
          @include flex(row, $align-items: center);
          @media screen and (min-width: 480px) and (max-width: 1199px) {
            margin-top: 20px;
            justify-self: center;
          }
          padding: 10px 31px;
          border-radius: 4px;

          &-icon {
            @include size(24px, 24px);
            margin-left: 12px;
            fill: white;
          }
        }
      }
    }
  }
}
