.backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
              transform 200ms ease;
  z-index: 1;

  &--hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
  }
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: relative;
  padding: 24px 40px 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
  transition: transform 250ms ease;
  @include size(min(90vw, 480px), calc(100% * (609 / 450)));
  max-height: 90vh;

  @media screen and (min-width: 1200px) {
    @include size(528px, auto);
  }

  &__close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border: 1px solid #0000001a;
    border-radius: 50%;
    background-color: transparent;
    transition: border-color 0.2s ease;

    &:hover {
      border-color: $accent-color;

      .modal__close-icon {
        fill: $accent-color;
      }
    }
  }

  &__close-icon {
    @include size(18px, 18px);
    transition: fill 0.2s ease;
  }

  &__title {
    @include text(20px, 1.5, null, 700, #212121, 3%);
    text-align: center;
    margin-bottom: 20px;
  }

  &__form {
    @extend %flex-align-center;
    flex-direction: column;
    gap: 16px;
  }

  &__label {
    position: relative;
    display: block;
    width: 100%;
    @include text(12px, $color: $grey-color);
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include size(18px, 18px);
  }

  &__input,
  &__textarea {
    width: 100%;
    border: 1px solid #21212133;
    border-radius: 4px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input {
    height: 40px;
    padding-left: 36px;

    &:focus {
      border-color: $accent-color;
    }

    &:focus + .modal__icon {
      fill: $accent-color;
    }
  }

  &__textarea {
    height: 120px;
    padding: 12px 16px;

    &::placeholder {
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus {
      border-color: $accent-color;
    }

    &:focus::placeholder {
      color: $accent-color;
    }
  }

  &__checkbox {
    @include size(16px, 16px);
    accent-color: $accent-color;
  }

  &__text {
    @include text(12px, null, 3%);
    margin-left: 8px;

    @media screen and (min-width: 1200px) {
      @include text(14px, 1.71, 3%);
    }
  }

  &__send {
    @extend %flex-align-center;
    @include text(16px, 1.875, null, 700, white, 6%);
    background-color: $accent-color;
    border-radius: 4px;
    padding: 10px 52px;
    margin-top: 20px;
    box-shadow: 2px 3px 2px #00000026;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: #1766a7;
    }
  }

  &__link {
    @include text($color: $accent-color);
    text-decoration: underline;
  }
}
