.backdrop {
  @include setPosition(fixed, 0, $left: 0, $transform: translateY(0));
  @include size(100vw, 100vh);
  background-color: rgba(0, 0, 0, 20%);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 200ms ease;
  z-index: 1;
}

.backdrop--hidden {
  opacity: 0;
  visibility: hidden;
  @include setPosition($transform: translateY(-50%))
}

.no-scroll {
  overflow: hidden;
}

.modal {
  @include setPosition(absolute, 50%, $left: 50%, $transform: translate(-50%, -50%));
  @include size(520px, 581px);
  padding: 8px 40px 40px;
  background-color: #fff;

  &__close-button {
    @include flex(column, $justify-content: center);
    margin-left: 430px;
    padding: 6px;
    border: 1px solid #0000001a;
    border-radius: 50%;
    background-color: transparent;
    @include text($color: black)
  }

  &__close-icon {
    @include size(18px, 18px)
  }

  &__label {
    @include setPosition(relative);
    display: block;
    margin-top: 10px;
    @include text(12px, $color: #757575);

    &:nth-child(5) {
      @extend %flex-center;
      margin-top: 20px;
    }
  }

  &__icon {
    @include setPosition(absolute, 28px, $left: 12px);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include size(18px, 18px);
  }

  &__form {
    margin-top: 12px;
    @include flex(column, $align-items: center);
  }

  &__title {
    @include text($text-align: center)
  }

  &__input,
  &__textarea {
    display: block;
    @include size(448px);
    border: 1px solid #21212133;
    border-radius: 4px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input {
    @include size(null, 40px);
    margin-top: 4px;
    padding-left: 36px;

    &:hover,
    &:focus {
      border: 1px solid $accent-color;
    }

    &:hover + .modal__icon,
    &:focus + .modal__icon {
      fill: $accent-color;
    }
  }

  &__textarea {
    @include size(null, 120px);
    padding: 16px;
    resize: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover,
    &:focus {
      border: 1px solid $accent-color;
    }

    &:hover::placeholder,
    &:hover::placeholder {
      @include text($color: $accent-color);
    }
  }

  &__checkbox {
    @include size(16px, 16px);
    accent-color: $accent-color;
  }

  &__text {
    @include text(null, 1.7, $letter-spacing: 3%);
    margin-left: 4px;
  }

  &__send {
    @extend %flex-align-center;
    @include text(16px, 1.875, null, 700, white);
    background-color: $accent-color;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 10px 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: 2px 3px 2px #00000026;

    &:hover {
      background-color: #1766a7;
    }
  }

  &__link {
    @include text($color: $accent-color, $text-decoration: underline);
  }
}
