.footer {
  margin-top: 60px;
  padding: 65px 0;
  background-color: $bg-color;

  @media screen and (min-width: 768px) {
    position: relative;
    padding: 60px 0;
  }

  &__content {
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
    }
  }

  &__logo {
    @include text(24px, null, "Raleway", 700, $color: white);
    text-align: center;

    &-part--web {
      @include text($color: $accent-color);
    }
  }

  &__info {
    @extend %flex-align-center;
    flex-direction: column;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      position: absolute;
      top: 60px;
      left: 76px;
    }
  }

  &__address {
    &-list {
      @extend %flex-align-center;
      flex-direction: column;
      gap: 8px;
      font-style: normal;
    }

    &-text {
      @include text(14px, 1.71, $color: $white-color, $font-weight: 400);
    }

    &-link {
      &--info,
      &--num {
        @include text($color: rgba(255, 255, 255, 0.6), $font-weight: 400);
      }
    }
  }

  &__join {
      margin-top: 60px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      position: absolute;
      top: 0;
      right: 90px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 70px;
      margin-top: 0;
    }
    &-title {
      @include text(14px, $font-weight: 700, $color: $white-color);
      text-align: center;
      text-transform: uppercase;
    }

    &-list {
      margin-top: 20px;
      @extend %flex-justify-center;
      flex-direction: row;
      gap: 10px;
    }

    &-item {
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 12px;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: $accent-color;
      }
    }

    &-link {
      @extend %flex-center;
    }

    &-icon {
      @include size(20px, 20px);
      fill: white;
    }
  }

  &__subscribe {
      margin-top: 60px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-top: 250px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 93px;
      margin-top: 0;
    }

    .subscribe {
      &__form {
        &-row {
          @media screen and (min-width: 1200px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
          }
        }
        &-title {
          @include text(14px, $font-weight: 700, $color: $white-color);
          text-transform: uppercase;
          display: flex;
          flex-direction: row;
          justify-self: center;
          margin-bottom: 20px;
        }

        &-input {
          @include size(100%);
          @media screen and (min-width: 768px) and (max-width: 1199px) {
            @include size(450px);
          }

          @media screen and (min-width: 1200px) {
            @include size(358px, 50px);
          }
          padding: 16px;
          background-color: transparent;
          outline: none;
          border: 1px solid rgba(255, 255, 255, 0.3);
          border-radius: 4px;
          color: white;

          display: flex;
          flex-direction: row;
          justify-self: center;

          &::placeholder {
            @include text(
              16px,
              1.25,
              $font-weight: 400,
              $color: rgba(255, 255, 255, 0.6)
            );
          }
        }

        &-submit {
          background-color: $accent-color;
          @include text(16px, 1.875, $font-weight: 700, $color: $white-color);
          @extend %flex-align-center;
          flex-direction: row;
          margin-top: 20px;
          justify-self: center;
          padding: 10px 31px;
          border-radius: 4px;

          &-icon {
            @include size(24px, 24px);
            margin-left: 12px;
            fill: white;
          }
        }
      }
    }
  }
}
