.header {
  position: relative;
  padding: 12px 0;

  &__logo {
    @include text(26px, 1.19, "Raleway", 700, black, 3%);

    &-part--web {
      color: $accent-color;
    }
  }

  &__content {
    @extend %flex-align-center;
    flex-direction: row;
    justify-content: space-between;
  }

  &__toggle-mob {
    @include size(40px, 40px);
    @extend %flex-align-center;

    svg {
      @include size(24px, 16px);
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__mob {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    @include size(100vw, 105vh);
    transform: translateX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    visibility: visible;

    &--hidden {
      transform: translateX(100%);
      opacity: 0;
      visibility: hidden;
    }

    &-close {
      svg {
        @include size(18px, 18px);
      }

      padding: 11px;
      @extend %flex-align-center;
      justify-self: flex-end;
      background-color: transparent;
    }

    .nav {
      &__list {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }

      &__item--active {
        .nav__link {
          @include text($color: $accent-color);
        }
      }

      &__link {
        @include text(40px, null, null, 500, #212121, 2%);
      }
    }

    .address {
      margin-top: 28vh;

      &__list {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        gap: 32px;
      }

      &__icon {
        display: none;
      }

      &__link {
        font-style: normal;

        &--num {
          @include text(34px, null, null, 500, $grey-color, 2%);
        }

        &--info {
          @include text(24px, null, null, 500, $grey-color, 2%);
        }
      }
    }

    .mob {
      &__socials {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 64px;
      }

      &__social {
        &-item {
          @extend %flex-align-center;
          flex-direction: row;
          gap: 10px;
          &:not(:last-child)::after {
            content: "";
            display: inline-block;
            @include size(1px, 22px);
            background-color: #757575;
            margin-left: 10px;
          }

          .social__link {
            @include text(3vw, 1.2, null, 500, $accent-color, 2%);
          }
        }
      }
    }
  }

  &__content {
    & > .header__nav {
      display: none;
      @media screen and (min-width: 768px) {
        display: block;
      }
      .nav {
        &__list {
          display: flex;
          gap: 50px;
        }

        &__item {
          position: relative;

          &--active {
            .nav__link {
              @include text($color: $accent-color);
            }
            .nav__underline {
              @include size(100%);
              background-color: $accent-color;
            }
          }

          &:hover {
            .nav__link {
              @include text($color: $accent-color);
            }
            .nav__underline {
              @include size(100%);
              background-color: $accent-color;
            }
          }
        }

        &__link {
          @include text($color: #212121, $font-weight: 500);
          transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &__underline {
          @include size(0, 4px);
          @media screen and (min-width: 768px) and (max-width: 1199px) {
            position: absolute;
            bottom: -26px;
            left: 50%;
            transform: translateX(-50%);
          }
          @media screen and (min-width: 1200px) {
            position: absolute;
            bottom: -18px;
            left: 50%;
            transform: translateX(-50%);
          }
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            width 0.3s linear;
        }
      }
    }
    & > .header__address {
      display: none;
      @media screen and (min-width: 768px) {
        display: block;
      }
      .address {
        &__list {
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-style: normal;
          @media screen and (min-width: 1200px) {
            display: flex;
            flex-direction: row;
            gap: 30px;
          }
        }

        &__item {
          &:hover {
            .address__link {
              @include text($color: $accent-color);
            }
            .address__icon {
              fill: $accent-color;
            }
          }
        }

        &__link {
          @include text(12px, $font-weight: 500, $color: $grey-color);
          transition: color 0.3s ease;

          @media screen and (min-width: 1200px) {
            display: flex;
            align-items: center;
          }
        }

        &__icon {
          margin-right: 8px;
          transition: fill 0.3s ease;

          &--mail {
            @media screen and (min-width: 768px) and (max-width: 1199px) {
              @include size(14px, 10px);
            }
            @media screen and (min-width: 1200px) {
              @include size(16px, 12px);
            }
          }

          &--tel {
            @media screen and (min-width: 768px) and (max-width: 1199px) {
              @include size(10px, 14px);
            }
            @media screen and (min-width: 1200px) {
              @include size(10px, 16px);
            }
          }
        }
      }
    }
  }
}
